<div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
        Soft UI Dashboard PRO
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
        <ul class="navbar-nav navbar-nav-hover mx-auto">
        </ul>
        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            <a target="_blank" 
               href="https://www.creative-tim.com/product/soft-ui-dashboard-pro" 
               class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1">Buy Now</a>
          </li>
        </ul>
      </div>
    </div>