
.dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a{
    background-color: var(--usek-indigo-blue) !important;
    background-image: none;
  }
  
.dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a:hover{
  background-color: var(--usek-turquoise) !important;
  background-image: none;
  cursor: pointer;
}
