{% extends 'layouts/base.html' %} {% load static %} {% block content %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/input.css' %}" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

{% endblock extrastyle %}
{% include 'includes/certificates_detail_header.html' %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header p-3">
          <h5 class="mb-2">Certificate Generation</h5>
        </div>
        <div class="px-3">
          <p class="mb-0">Number of Certificates Generated</p>
        </div>
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-3 col-6 text-center">
              <div
                class="border-dashed border-1 border-secondary border-radius-md py-3"
              >
                <h6 class="text-info text-gradient mb-0">
                    Today
                </h6>
                <h4 class="font-weight-bolder">
                  <span id="state1" countTo="10"></span>
                </h4>
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div
                class="border-dashed border-1 border-secondary border-radius-md py-3"
              >
                <h6 class="text-info text-gradient mb-0">Current Month</h6>
                <h4 class="font-weight-bolder">
                 <span id="state2" countTo="50"></span>
                </h4>
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center mt-4 mt-lg-0">
              <div
                class="border-dashed border-1 border-secondary border-radius-md py-3"
              >
                <h6 class="text-info text-gradient mb-0">Current Term</h6>
                <h4 class="font-weight-bolder">
              
                  <span id="state3" countTo="150"></span>
                </h4>
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center mt-4 mt-lg-0">
              <div
                class="border-dashed border-1 border-secondary border-radius-md py-3"
              >
                <h6 class="text-info text-gradient mb-0">Current Year</h6>
                <h4 class="font-weight-bolder">
                  <span id="state4" countTo="3500"></span>
                </h4>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-5 col-12">
              <h6 class="mb-0">Student ID</h6>
              <p class="text-sm">
                Write the student ID below
              </p>
              <div
                class="border-dashed border-1 border-secondary border-radius-md p-3"
              >
                <div class="d-flex align-items-center">
                  <div class="form-group w-70">
                    <div class="input-group">
                      <input
                        class="form-control form-control-sm custom-input" 
                        placeholder="Student ID"
                        type="text"
                      />
                    </div>
                  </div>
                  <button
                    id="generate-button"
                    class="btn btn-sm btn-outline-secondary ms-2 px-3"
                    >Generate</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block fixed_plugin %} {% endblock fixed_plugin %} 
  {% include 'includes/footer.html' %}
</div>


{% endblock content %} {% block extra_js %}

<script src="{% static 'assets/js/plugins/countup.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/quill.min.js' %}"></script>
<script src="{% static 'js/count-up.js' %}"></script>
<script src="{% static 'js/file-drop.js' %}"></script>



{% endblock extra_js %}
