{% load static %}
<div class="container-fluid">
  <div
    class="page-header min-height-300 border-radius-xl mt-4"
    style="
      background-image: url('{% static 'assets/img/curved-images/curved0.jpg' %}');
      background-position-y: 50%;
    "
  >
    <span class="mask bg-gradient-info opacity-6"></span>
  </div>
  <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
    <div class="row gx-4 align-items-center">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
          <h2><i class="fa fa-newspaper" style="color: #033f78"></i></h2>
        </div>
      </div>
      <div class="col my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{certificate_name}}</h5>
          <p class="mb-0 font-weight-bold text-sm">{{certificate_lang}}</p>
        </div>
      </div>
      {% if is_import_available %}
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-info btn-sm mb-0"
          data-bs-toggle="modal"
          data-bs-target="#import"
        >
          Import
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- MODAL  -->
<div class="ms-auto my-auto mt-lg-0 mt-4">
  <div class="ms-auto my-auto">
    <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog mt-lg-10">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
            <i class="fas fa-upload ms-3"></i>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>You can browse your computer for a file.</p>

            <!-- dropzone for csv file -->
            <div class="row mb-1">
              <div class="col-12">
                <div class="form-control dropzone" id="file-upload"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn bg-gradient-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>

          <!-- Notification Message after file upload -->
          <div class="position-fixed bottom-1 end-1 z-index-2">
            <div
              class="toast fade hide p-2 mt-2 bg-white"
              role="alert"
              aria-live="assertive"
              id="notification"
              aria-atomic="true"
            >
              <div class="toast-header border-0">
                <i class="ni ni-notification-70 text-danger me-2"></i>
                <span class="me-auto text-gradient text-danger font-weight-bold"
                  >Error Occured</span
                >
                <i
                  class="fas fa-times text-md ms-3 cursor-pointer"
                  data-bs-dismiss="toast"
                  aria-label="Close"
                ></i>
              </div>
              <hr class="horizontal dark m-0" />
              <div class="toast-body">Error Message</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'assets/js/plugins/dropzone.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/notification.js' %}"></script>
