{% load static %} {% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/table.css' %}" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/button.css' %}" />



{% endblock extrastyle %} {% block content %}

<div class="container-fluid py-4">
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <h5 class="mb-0">Available Certificates {{parent}}</h5>
          <p class="text-sm mb-0">Search and select for a certificate</p>
        </div>
        <div class="table-responsive">
          <table class="table table-flush" id="datatable-search">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Language</th>
                <th class="text-center">Description</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for certificate in certificates %}
              <tr class="text-center">
                <td class="text-sm font-weight-normal">
                  <b>{{certificate.name}}</b>
                </td>
                <td class="text-sm font-weight-normal">
                  <span class="badge badge-md bg-gradient-info">
                    {{certificate.language}}</span
                  >
                </td>
                <td class="text-sm font-weight-normal">
                  {{certificate.description}}
                </td>
                <td class="text-sm font-weight-normal">
                  <a
                    class="action-button-style"
                    href="{% url 'certificate_detail' certificate.name certificate.language %}"
                  >
                    <i class="fa fa-plus"></i
                  ></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>

{% endblock content %} {% block extra_js %}

<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
  const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
    columns: [
      {
        select: 3,
        sortable: false,
      },
    ],
    searchable: true,
    fixedHeight: false,
  });
</script>

{% endblock extra_js %}
