{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 404 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} error-page {% endblock %}

{% block content %}

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent mt-4">
    {% include "includes/navigation-error.html" %}
  </nav>
  <!-- End Navbar -->

  <main class="main-content  mt-0">
    <section class="my-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-auto">
            <h1 class="display-1 text-bolder text-gradient text-danger">Error 404</h1>
            <h2>Page not found</h2>
            <p class="lead">We suggest you to go to the homepage while we solve this issue.</p>
            <button type="button" class="btn bg-gradient-dark mt-4">Go to Homepage</button>
          </div>
          <div class="col-lg-6 my-auto position-relative">
            <img class="w-100 position-relative" src="/static/assets/img/illustrations/error-404.png" alt="404-error">
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include "includes/footer-auth.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} {% endblock javascripts %}
